extends layout 

block content
p
  a(href='report') Reports
      section#appointments
      h2 Make an Appointment
      form(action='#' method='POST')
        label(for='doctor') Select Doctor:
        select#doctor(name='doctor' required='')
          option(value='') Select Doctor
          option(value='dr-smith') Dr. Smith
          option(value='dr-johnson') Dr. Johnson
          // Add more doctors here
        label(for='date-time') Appointment Date and Time:
        input#date-time(type='datetime-local' name='date-time' required='')
        input(type='submit' value='Schedule Appointment')