extends layout 

block content 
     section
       h2 Doctor Login
            form(action='#' method='POST')
            input(type='text' name='username' placeholder='Username' required='')
            input(type='password' name='password' placeholder='Password' required='')
            input(type='submit' value='Login')