extends layout 

block content 

  h2 Welcome to our Healthcare Information System
  p This system allows you to manage patient records, doctor information, appointments, generate reports, and configure settings.
