doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Healthcare Information System
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    nav {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    nav ul li {
    display: inline;
    margin-right: 20px;
    }
    nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    }
    section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
header
  h1 Healthcare Information System
nav
  ul
    li
      a(href='index.pug') Home
    li
      a(href='patient-login.pug') Patients
    li
      a(href='doctors-login.pug') Doctors
    li
      a#appointments(href='appointments_login.pug') Appointments
    li
      a(href='report.pug') Reports
block content
footer
  p &copy; 2024 Healthcare Information System. All rights reserved.
