extends layout 

block content 
section#reports
  h2 Reports
  table
    thead
      tr
        th Patient Name
        th Doctor
        th Appointment Date
        th Appointment Time
    tbody
      tr
        td John Doe
        td Dr. Smith
        td 2024-02-12
        td 09:00 AM
      // Add more patient records here